@media screen and (max-width:576px) {
    #nav-section {
        margin: 0;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-list {
        display: none;
    }

    .cart {
        display: block;
    }
}