@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Fonts that are used */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

/* Nav section design */
#nav-section {
    margin: 0 140px;
    padding-top: 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;

}

ul li a:hover {
    font-size: 1rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 50px;

}

div img {
    width: 100%;
}

.cart {
    display: none;
}

/* Banner section design */
.banner-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    margin-top: 120px;
}

.title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 570px;
    margin-top: 162px;
}

.banner-right {
    border: 2px dashed #c6c6c8;
    margin-top: 106px;
}