@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Fonts that are used */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

/* Nav section design */
#nav-section{
    margin: 0 140px;
    padding-top: 30px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;

}

.nav-menu {
    display: flex;
    gap: 50px;

}