@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Fonts that are used */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

/* Nav section design */
#nav-section {
    margin: 0 140px;
    padding-top: 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;

}

ul li a:hover {
    font-size: 1rem;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 50px;

}

div img {
    width: 100%;
}

.cart {
    display: none;
}

/* Banner section design */
.banner-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    margin-top: 120px;
}

.title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 570px;
    margin-top: 162px;
}

.banner-right {
    border: 2px dashed #c6c6c8;
    margin-top: 106px;
}

/* Plants section design */
#plant-section {
    margin-top: 200px;
}

.plant-top {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    margin-top: 50px;
}

.card {
    max-width: 270px;
    text-align: center;
    border: 2px dashed #c6c6c8;
}

.flower-name {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 10px;
}

.flower-price {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
}

.btn-add {
    width: 100%;
    padding: 15px 50px;
    border: none;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 30px;
}

/* Seller section design */
.seller-container {
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.seller-img {
    max-width: 540px;
    position: relative;
}

.seller-badge {
    max-width: 286px;
    position: absolute;
    margin-top: -130px;
    margin-left: -190px;
}

.seller-details {
    max-width: 540px;
}

.details-title {
    font-size: 3.1rem;
    font-weight: 700;
}

.details li {
    list-style: circle;
    font-size: 1.3rem;
    color: #00000080;
    margin-top: 20px;
}

/* Deals section design */
#deals-section {
    margin-top: 133px;
}

.deals-top {
    text-align: center;
}

.advertise {
    display: grid;
    grid-template-columns: 366px 753px;
    justify-content: center;
    gap: 50px;
    margin-top: 120px;
}

.left-advertise {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.bloom {
    max-width: 366px;
    height: 206px;
    background: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

.ana {
    max-width: 366px;
    height: 206px;
    background-image: url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

.zabo {
    background-image: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 753px;
    height: 432px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

/* Join section design */
.join-container {
    margin-top: 120px;
    height: 600px;
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.subscribe-box input {
    width: 644px;
    padding: 26px 20px;
    border: none;
    outline: none;
}

.subscribe-box button {
    width: 200px;
    padding: 24px 20px;
    border: none;
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}